@import url(general-roots.css);

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 65.4%;
}

#wrapper {
  background-color: var(--admin-background-color);
  min-height: 100vh;
}

header {
  background-color: #4F7CAA;
  display: flex;
  justify-content: center;
  align-items: center;
}

header button{
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 3rem;
  color: var(--white);
  background-color: var(--button-color);
}

header button:hover{
  background-color: var(--button-hover-color);
  cursor: pointer;
}

header > img {
  height: 15vh;
}

main {
  min-height: 89vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first.half > img {
  width: 20vw;
  padding: 1rem;
}

.login {
  background-color: #FFFFFF;
  width: 20vw;
  height: 40vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top {
  padding: 1.5rem;
  background-color: #8ABBCC;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login > form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.login > form > input, button {
  padding: 1.5rem;
  border: none;
}

.login > form > input[type="text"], 
.login > form > input[type="password"] {
  font-size: 2rem;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.login > form > button[type="submit"] {
  width: 60%;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1000px;
  color: var(--white);
  background-color: var(--button-color);
}

.login > form > button:hover[type="submit"] {
  background: var(--button-hover-color);
  cursor: pointer;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}