@import url(general-roots.css);

body {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
}

.profile-container {
    background-color: var(--profile-bg);
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    height: 48vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container h2 {
    text-align: center;
    font-size: var(--heading-size);
    margin-bottom: 20px;
    color: var(--heading-textcolor);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.age-group{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.button-container{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
}

.form-group label {
    font-size: var(--label-size);
    color: var(--label-textcolor);
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-bgcolor);
    color: var(--text-color);
    width: var(--input-width);
}

.submit-button, .back-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-textcolor);
    font-size: var(--button-textsize);
    font-weight: var(--button-fontweight);
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin-top: 20px;

}

.submit-button:hover, .back-button:hover {
    background-color: var(--button-hover-color);
}