:root{
    --primary-color: #0450ba;     
    --secondary-color: #6b7cff;     
    --hover-color: #5a68db;  
    --primary-font-family: 'Jost', sans-serif;
    --primary-background-color: #649cb2;
    --h1-font-size: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background-color: #649CB2;
    min-height: 100vh;
}

html{
    font-size: 62.5%;
}

/*ADMIN SIGN IN FRONT END CSS*/
header {
    background-color: #4F7CAA;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
header > img {
    width: 10vw;
}
  
main {
    min-height: 89vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.first.half > img {
    width: 20vw;
    padding: 1rem;
}
  
.login {
    background-color: #DDCFCF;
    height: 50vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
.top {
    background-color: #8ABBCC;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.login > form {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
  
.login > form > input {
    padding: 1rem;
    border: none;
}
  
.login > form > input[type="email"], 
.login > form > input[type="password"] {
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 10px;
}
  
.login > form > input[type="submit"] {
    width: 40%;
    font-size: 1.5rem;
    border-radius: 1000px;
    background-color: rgba(124, 164, 194, 0.7);
}